<header class="w-75">
  <div class="transition-all duration-500 ease-in-out bg-white z-50 h-16 md:py-2 md:px-5 flex flex-row justify-between items-center top-0 shadow-md fixed right-0" [class]="!(toggle.toggler | async) ? 'w-full' : 'w-9/12 md:w-11/12'">
    <button class="mx-3" (click)="toggleMenu()">
      <svg class="h-6 w-6 fill-current focus:outline-none" viewBox="0 0 24 24">
        <path *ngIf="(toggle.toggler | async)" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
        <path *ngIf="!(toggle.toggler | async)" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
      </svg>
    </button>
    <h3 class="font-bold text-sm uppercase text-blue-400 sm:text-sm lg:text-2xl">Home Page</h3>
    <div class="w-32 md:w-40 flex flex-row justify-around md:text-2xl text-gray-300">
      <fa-icon class="hover:text-gray-500" [icon]="user"></fa-icon>
      <fa-icon class="hover:text-gray-500" [icon]="envelop"></fa-icon>
      <fa-icon class="hover:text-gray-500" [icon]="bell"></fa-icon>
    </div>
  </div>
</header>
