<header class="bg-white z-50 h-16 py-2 px-5 flex flex-row justify-between items-center top-0 shadow-md fixed right-0">
  <h3 class="font-bold text-sm uppercase text-blue-400 sm:text-sm lg:text-2xl">Home Page</h3>
  <div class="w-40 flex flex-row justify-around text-2xl text-gray-300">
    <fa-icon class="hover:text-gray-500" [icon]="user"></fa-icon>
    <fa-icon class="hover:text-gray-500" [icon]="envelop"></fa-icon>
    <fa-icon class="hover:text-gray-500" [icon]="bell"></fa-icon>
  </div>
</header>
