<aside class="transition-all duration-500 ease-in-out fixed md:flex z-50 left-0 top-0 h-screen bg-gray-300 border" [class]="!(toggle$ | async) ? 'w-0' : 'w-3/12 md:w-1/12'">
  <nav class="flex-col justify-around items-center w-full h-full" [class]="!(toggle$ | async) ? 'hidden' : 'flex'">
    <span>
      <fa-icon [icon]="building"></fa-icon>
      <br>
      Home
    </span>
    <span>
      <fa-icon [icon]="calender"></fa-icon>
      <br>
      Management
    </span>
    <span>
      <fa-icon [icon]="profile"></fa-icon>
      <br>
      Staffs
    </span>
    <span>
      <fa-icon [icon]="wrench"></fa-icon>
      <br>
      Settings
    </span>
    <span>
      <fa-icon [icon]="money"></fa-icon>
      <br>
      Report
    </span>
  </nav>
</aside>
