<article class="flex p-1 md:p-3 flex-col z-30 w-full rounded-md min-h-screen">
  <section class="relative flex-row w-100 justify-between z-30 p-5 items-start h-screen rounded-sm flex border border-gray-200">
    <div class="rounded-lg p-3 flex flex-col items-center justify-start bg-gray-100 m-5 relative h-500 w-1/4 shadow-lg">
      <h4 class="font-bold text-md">Book A Guest</h4>
      <!-- <app-guest-forms></app-guest-forms> -->
      <form class="flex flex-col w-full mt-2">
        <ng-container *ngIf="formState === 'guestProfile'" [formGroup]="guestDetails">
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="guestName" class="mb-2 text-sm">Guest's Full Name</label>
            <input type="text" formControlName="guestName" id="guestName" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="guestAddress" class="mb-2 text-sm">Guest's Address</label>
            <!-- This textarea -->
            <input type="text" formControlName="guestAddress" id="guestAddress" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="w-full flex flex-row justify-evenly">
            <div class="flex flex-col w-1/2 my-2 border rounded-md p-2">
              <label for="guestGender" class="mb-2 text-sm">Guest's Gender</label>
              <!-- This selection -->
              <input type="text" formControlName="guestGender" id="guestGender" class="w-full px-2 py-1 border shadow-sm rounded-md">
            </div>
            <div class="flex flex-col mx-1 w-1/2 my-2 border rounded-md p-2">
              <label for="guestBirthday" class="mb-2 text-sm">Guest's DoB</label>
              <!-- This selection -->
              <input type="text" formControlName="guestBirthday" id="guestBirthday" class="w-full px-2 py-1 border shadow-sm rounded-md">
            </div>
          </div>
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="guestOccupation" class="mb-2 text-sm">Guest's Occupation</label>
            <!-- This textarea -->
            <input type="text" formControlName="guestOccupation" id="guestOccupation" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="w-full mt-3 pr-3 flex flex-col justify-end items-end">
            <button class="transition-all duration-500 px-5 py-2 rounded-md font-bold text-sm text-white"
            [class]="(!guestDetails.valid) ? 'cursor-not-allowed hover:bg-gray-500 bg-gray-400' : 'active:translate-x-10 cursor-pointer hover:bg-green-400 bg-green-500 shadow'"
            [disabled]="!guestDetails.valid" (click)="changeState('userDestination', $event)">Next</button>
          </div>
        </ng-container>
        <ng-container *ngIf="formState==='userDestination'" [formGroup]="destination">
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="arrivingFrom" class="mb-2 text-sm">Arriving From</label>
            <input type="text" formControlName="arrivingFrom" id="arrivingFrom" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="destination" class="mb-2 text-sm">Guest's Destination</label>
            <!-- This textarea -->
            <input type="text" formControlName="destination" id="destination" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="guestGender" class="mb-2 text-sm">Guest's Nationality</label>
            <!-- This selection -->
            <input type="text" formControlName="nationality" id="nationality" class="w-full px-2 py-1 border shadow-sm rounded-md">
          </div>
          <div class="flex flex-col w-full my-2 border rounded-md p-2">
            <label for="guestOccupation" class="mb-2 text-sm">Guest's Occupation</label>
            <!-- This textarea -->
            <!-- <input type="text" formControlName="guestOccupation" id="guestOccupation" class="w-full px-2 py-1 border shadow-sm rounded-md"> -->
          </div>
          <div class="w-full mt-3 pr-3 flex flex-row justify-between items-center">
            <button class="transition-all duration-500 px-5 py-2 bg-red-900 rounded-md font-bold text-sm text-white"

              (click)="changeState('guestProfile', $event)">Back</button>
            <button class="transition-all duration-500 px-5 py-2 rounded-md font-bold text-sm text-white"
            [class]="(!guestDetails.valid) ? 'cursor-not-allowed hover:bg-gray-500 bg-gray-400' : 'active:translate-x-10 cursor-pointer hover:bg-green-400 bg-green-500 shadow'"
              (click)="changeState('userDestination', $event)">Next</button>
          </div>
        </ng-container>
      </form>
    </div>
    <div class="relative min-h-3/4 w-2/3 border rounded-md">
      P
    </div>
  </section>
</article>
