<article class="flex p-1 md:p-3 flex-col rounded-md min-h-screen">
  <section class="flex flex-col rounded-md shadow w-100 md:p-4 md:m-4 justify-around items-center">
    <div class="flex flex-row m-3 p-3 h-full w-full rounded-lg border justify-between items-start">
      <figure class="shadow-md p-5 rounded-md w-1/4">
        <img src="" alt="">
        <figcaption>Profile Picture</figcaption>
      </figure>
      <div class="h-full shadow-sm rounded-sm flex-grow-1 w-3/5">
        Edit Password
      </div>
    </div>
  </section>
</article>
