<article class="flex p-1 md:p-3 flex-col rounded-md min-h-screen">
  <section class="flex-col rounded-md p-4 m-4 w-100 justify-around items-center flex shadow">
    <div class="flex flex-row w-full justify-between items-center px-3 py-1">
      <h4 class="font-bold">Room List</h4>
      <span>View All</span>
    </div>
    <hr class="bg-black w-full mb-2">
    <div class="px-4 py-5 w-full flex flex-col-reverse md:flex-row justify-between items-center">
      <div class="w-full shadow rounded-md p-3 md:w-3/5 mx-3 border">
        <table class="table-auto w-full">
          <thead class="bg-blue-300">
            <tr>
              <th>Room No</th>
              <th>Room Name</th>
              <th>Room Size</th>
              <th>Room Status</th>
              <th>Price</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>101</td>
              <td>Executive</td>
              <td>2 people</td>
              <td>Occupied</td>
              <td>10,000</td>
              <td>7,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-full shadow flex flex-col justify-around items-center h-full rounded-md p-3 md:w-2/5 mx-3 border">
        <h4 class="font-bold my-3">Add or Edit Room</h4>
        <form action="" class="w-full shadow p-5 flex-col justify-around items-center rounded">
          <small>Select a room from the list to edit or add details to create new room</small>
          <div class="border my-3 p-3 rounded w-full flex flex-col justify-around items-start">
            <label for="" class="p-2">Name:</label>
            <input type="text" class="border shadow w-full h-8 rounded px-3">
          </div>
        </form>
      </div>
    </div>
  </section>
  <section>
    Stores
  </section>
  <section>
    Other Services
  </section>
</article>
