<article class="flex p-1 md:p-3 flex-col rounded-md min-h-screen">
  <section class="flex flex-col rounded-md shadow w-100 md:p-4 md:m-4 justify-around items-center">
    <div class="flex flex-row w-full justify-between items-center px-3 py-1">
      <h4 class="font-bold">Staff List</h4>
      <span>View All</span>
    </div>
    <hr class="bg-black w-full mb-2">
    <div class=" md:px-4 md:py-5 w-full flex flex-col-reverse md:flex-row justify-between md:items-start items-center">
      <div class="w-full my-6 shadow rounded-md p-3 md:w-3/5 mx-3 border">
        <table class="table-auto w-full">
          <thead class="bg-blue-300">
            <tr>
              <th>No</th>
              <th>Staff Name</th>
              <th>Staff Position</th>
              <th class="hidden md:inline-block">Staff Status</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <!-- @TODO: Click to implement modal for staff details -->
            <tr>
              <td>101</td>
              <td>Executive</td>
              <td>Occupied</td>
              <td class="hidden md:inline">2 people</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="w-full shadow my-6 flex flex-col justify-around items-center h-full rounded-md md:p-3 md:w-2/5 md:mx-3 border">
        <h4 class="font-bold my-3">Create New Staff</h4>
        <form action="" class="w-full bg-gray-100 shadow p-5 flex flex-col justify-around items-center rounded">
          <div class="flex flex-row w-full">
            <div class="border inline-block mx-1 my-3 p-2 rounded w-full">
              <label for="staffName" class="block text-gray-700 text-sm font-bold mb-2">Staff Name:</label>
              <input type="text" name="staffName" id="staffName" class="border block appearance-none px-4 py-2 leading-tight focus:outline-none shadow w-full h-8 rounded-sm px-3">
            </div>
          </div>
          <div class="flex flex-row w-full">
            <div class="border inline-block mx-0 my-3 p-2 rounded w-2/3">
              <label for="staffType" class="block text-gray-700 text-sm font-bold mb-2">Staff Type:</label>
              <input type="text" name="staffType" id="staffType" class="border block appearance-none px-4 py-2 leading-tight focus:outline-none shadow w-full h-8 rounded-sm px-3">
            </div>
            <div class="border inline-block mx-1 my-3 p-2 rounded w-3/4">
              <label for="staffPhone" class="block text-gray-700 text-sm font-bold mb-2">Staff Phone:</label>
              <input type="text" name="staffPhone" id="staffPhone" class="border block appearance-none px-4 py-2 leading-tight focus:outline-none shadow w-full h-8 rounded-sm px-3" inputmode="tell">
            </div>
          </div>
          <div class="flex flex-row w-full h-auto">
            <div class="border rounded mx-0 my-3 p-2 h-auto w-full">
              <label for="">Description</label>
              <textarea name="" id="" class="border block appearance-none px-4 py-2 leading-tight focus:outline-none shadow w-full h-auto rounded-sm px-3"></textarea>
            </div>
          </div>
          <div class="flex flex-row w-full justify-end p-2 items-end">
            <button class="bg-green-600 px-3 py-2 rounded shadow m-3 text-white font-bold">Create</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</article>
