<article class="flex p-3 flex-col rounded-md min-h-screen shadow-sm">
  <section class="flex-wrap wrap w-100 justify-around items-center flex">
    <div class="m-1 p-1 justify-around items-center flex flex-wrap wrap w-5/12">
      <div class="shadow-md border h-2/5 rounded-md p-3 m-3 w-2/5">
        <h4 class="text-md w-full flex justify-between items-center flex-row font-medium">Total Rooms Discounted <small class="py-2 px-1 text-xs shadow-sm text-white bg-blue-600 flex m-3 rounded-full">32%</small></h4>
        <p class="my-1 w-full flex flex-row justify-between items-center">24 rooms</p>
        <p class="flex flex-row justify-between items-center">
          <small class="font-smaller">in the last <em>24hrs</em></small>
          <button class="bg-blue-500 font-bold text-white shadow-md text-xs ml-3 py-2 px-2 rounded">Details</button>
        </p>
      </div>
      <div class="shadow-md border rounded-md p-3 m-3 w-2/5">
        <h4 class="text-md w-full flex justify-between items-center flex-row font-medium">Total Available Rooms <small class="py-2 px-1 text-xs shadow-sm text-white bg-red-600 flex m-3 rounded-full">32%</small></h4>
        <p class="my-1 w-full flex flex-row justify-between items-center">24 rooms</p>
        <p class="flex flex-row justify-between items-center">
          <small class="font-smaller">in <em>24hrs</em></small>
          <button class="bg-blue-500 font-bold text-white shadow-md text-xs ml-3 py-2 px-2 rounded">Details</button>
        </p>
      </div>
      <div class="shadow-md border rounded-md p-3 m-3 w-2/5">
        <h4 class="text-md w-full flex justify-between items-center flex-row font-medium">Total Rooms Occupied <small class="py-2 px-1 text-xs shadow-sm text-white bg-green-600 flex m-3 rounded-full">32%</small></h4>
        <p class="my-1 w-full flex flex-row justify-between items-center">24 rooms</p>
        <p class="flex flex-row justify-between items-center">
          <small class="font-smaller">in the last <em>24hrs</em></small>
          <button class="bg-blue-500 font-bold text-white shadow-md text-xs ml-3 py-2 px-2 rounded">Details</button>
        </p>
      </div>
      <div class="shadow-md border rounded-md p-3 m-3 w-2/5">
        <h4 class="text-md w-full flex justify-between items-center flex-row font-medium">Total Income Today <small class="py-2 px-1 text-xs shadow-sm text-white bg-yellow-600 flex m-3 rounded-full">32%</small></h4>
        <p class="my-1 w-full flex flex-row justify-between items-center">24 rooms</p>
        <p class="flex flex-row justify-between items-center">
          <small class="font-smaller">in the last <em>24hrs</em></small>
          <button class="bg-blue-500 font-bold text-white shadow-md text-xs ml-3 py-2 px-2 rounded">Details</button>
        </p>
      </div>
    </div>
    <div class="m-1 p-3 shadow-md rounded-md border flex flex-col w-5/12">
      <h2 class="font-medium px-6">Overview of income <small class="font-light">between 2pm to 3pm</small></h2>
      <div class="flex flex-row justify-between py-5 w-full px-4 items-center">
        <select name="sort" id="sort" class="block bg-white w-1/2 px-4 py-2 shadow rounded leading-tight focus:outline-none border border-gray-400 hover:border-gray-600">
          <option value="Days">Daily</option>
          <option value="week">Week</option>
          <option value="month">Month</option>
        </select>
        <button class="block shadow py-2 px-4 border border-gray-400 rounded bg-blue-400 text-white text-xs hover:bg-blue-500 hover:border-gray-500 focus:outline-none">View Full Detail</button>
      </div>
      <app-summary></app-summary>
    </div>
  </section>
  <section class="mt-10 flex flex-col w-100 justify-around items-center">
    Guest Breakdown
    <table class="table-auto w-full">
      <thead class="bg-blue-300">
        <tr>
          <td class="px-4 py-2 font-bold">Room No</td>
          <td class="px-4 py-2 font-bold">SN</td>
          <td class="px-4 py-2 font-bold">Checked in</td>
          <td class="px-4 py-2 font-bold">Number of Guest</td>
          <td class="px-4 py-2 font-bold">Amount Paid</td>
          <td class="px-4 py-2 font-bold">Status</td>
        </tr>
      </thead>
      <tbody>
        <!-- To add data -->
      </tbody>
      <tfoot>
        <!-- To create total -->
      </tfoot>
    </table>
    <div>
      <!-- Pagination for table -->
    </div>
  </section>
</article>
