<article class="flex p-3 flex-col rounded-md min-h-screen shadow-sm">
  <section class="flex-wrap wrap w-100 justify-around items-center flex">
    <div class="m-1 p-1 justify-around items-center flex flex-wrap wrap w-5/12">
      <div class="shadow-sm rounded-sm p-3 m-3 w-2/5">Discounted Rooms</div>
      <div class="shadow-sm rounded-sm p-3 m-3 w-2/5">Free Rooms</div>
      <div class="shadow-sm rounded-sm p-3 m-3 w-2/5">Occupied Rooms</div>
      <div class="shadow-sm rounded-sm p-3 m-3 w-2/5">Today Income</div>
    </div>
    <div class="m-1 p-3 shadow-sm rounded-sm w-5/12">
      Projection
    </div>
  </section>
  <section class="mt-10 flex flex-col w-100 justify-around items-center">
    Guest Breakdown
    <table class="table-auto w-full">
      <thead class="bg-blue-300">
        <tr>
          <td class="px-4 py-2 font-bold">Room No</td>
          <td class="px-4 py-2 font-bold">SN</td>
          <td class="px-4 py-2 font-bold">Checked in</td>
          <td class="px-4 py-2 font-bold">Number of Guest</td>
          <td class="px-4 py-2 font-bold">Amount Paid</td>
          <td class="px-4 py-2 font-bold">Status</td>
        </tr>
      </thead>
      <tbody>
        <!-- To add data -->
      </tbody>
      <tfoot>
        <!-- To create total -->
      </tfoot>
    </table>
    <div>
      <!-- Pagination for table -->
    </div>
  </section>
</article>
