<article class="flex p-1 md:p-3 flex-col rounded-md min-h-screen">
  <section class="flex flex-col rounded-md shadow w-100 md:p-4 md:m-4 justify-around items-center">
    <div class="flex flex-row w-full justify-start items-start px-3 py-1 h-48">
      <figure class=" rounded-lg shadow-md p-2 h-full w-48 text-center bg-gray-100">
        <img src="" alt="user profile" class="rounded-full mb-2 mx-auto w-32 h-32 border">
        <figcaption class="w-full  font-bold text-gray-700">User Profile Name</figcaption>
      </figure>
      <div class="w-full rounded h-full ml-8 border p-5">
        <p>User Current Status: Online</p>
        <p>User Current position: Retuarant</p>
        <p>User Today's total sales: N23,472</p>
      </div>
    </div>

    <div class="w-full m-2 border rounded-lg h-56 p-5">
      Shows user editable details
    </div>
  </section>
</article>
